*{
    margin: 0px;
    padding: 0px;
}
body{
    background:  black;
    color: white;
}
.header{
    min-height: 100vh;      
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(netflixbg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 80px;
    margin-top: 0%;
}

.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.text-box h3{
    margin: 9px;
}

.emailinput{
    width: 35%;
    height: 30px;
    color: rgb(0, 0, 0);
}

.emailinput ::placeholder{
    margin-left: 10px;
}

.text-box button{
    width: 10%;
    height: 35px;
    background-color: #E50914;
    color: white;
    border-radius: 5px;
}

/*-------------Features----------------*/
.features{
    padding: 50px 12px;
    font-size: 22px;

}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*----------FAQ----------*/
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2{
    font-weight: 500;
    font-size: 40px ;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding:5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 13px;
}

/* ---------Footer--------- */

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn{
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyrigth-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}