 @media print {
    html,
    body {
       display: none;
    }
 }
* {
    margin: 0;
    padding: 0;

}
.logo {
    display: flex;
    align-items: center;
    width: 15%;
    margin: auto;
}

.logo img {
    width: 88px;
    padding: 0 25px;
    margin-bottom: 0%;
}
header {
    background-color: black;
    height: 50px;
    margin: auto;
}


nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 35%;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.slider {
    margin: auto;
    width: 80vw;
    margin: 7px auto;
    overflow: hidden;
    height: 300px;
}

.para {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(98, 98, 98);
    padding: 12px 34px;
    background-color: transparent;
    /* margin-left: 30%; */
    margin-left: 17%;
    width: 60%;
    text-align: center;
    font-size: 24px;
}

.para h5 {
    text-align: center;
    color: black;
}

.para h6 {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 25px;
    /* width: 470px; */
}

.Contact {
    text-align: center;
    background-color: rgb(255, 213, 0);
    height: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20%;
    margin-top: 10px;
}

.Contact a {
    color: blue;
}

.Register p {
    text-align: center;
    color: black;
    margin: 25px;
    margin-bottom: 0%;
}

.submit {
    display: flex;
    align-items: center;
    margin: auto;
    width: 40%;
    margin-top: 0%;
}

.submit input {
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.btn {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    background: rgb(161, 160, 160);
    border: 2px solid #ceccfb;
    border-radius: 7px;
    cursor: pointer;
}

.btn:hover {
    color: black;
    font-weight: bold;

}

.submit button {
    font-weight: 500;
}

.table {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 5px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 5vh;
    background-color: black;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

footer p {
    text-align: center;
    color: white;
}